body{
    background-color: lavender !important;
}
h1 {
    padding-left: 35%;
    padding-top: 5%;
    font-size: 40pt;
    color: white;
    line-height: 45pt;
}
.content {
    padding-top: 7%;
    text-align: center;
    color: white;
}